{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
</head>

<body class="bg-light">
<div class="bg-warning p-3 text-center">
    <h1><i class="fa fa-tasks"></i> Task tracker</h1>
    <h6>An application for tecvico interview</h6>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4"><span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span></h1>
        </div>
    </div>
    <div class="row" id="before-play">
        <div class="col-md-12 text-center">
            <button class="btn btn-success" id="start-btn"><i class="fa fa-play"></i> Start</button>
        </div>
    </div>
    <div class="row d-none" id="after-play">
        <div class="col-md-12 text-center">
            <button class="btn btn-warning" id="pause-btn"><i class="fa fa-pause"></i> Pause</button>
            <button class="btn btn-success d-none" id="resume-btn"><i class="fa fa-play"></i> Resume</button>
            <button class="btn btn-danger" id="end-btn"><i class="fa fa-stop"></i> End</button>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered mb-5">
                <thead>
                <tr class="table-warning">
                    <th class="text-center px-5">Time</th>
                    <th class="text-center px-5">Task</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td class="p-name text-center">{{ task.time }}</td>
                        <td>{{ task.name }}</td>
                    </tr>
                {% endfor %}

                {#                <tr>#}
                {#                    <td class="p-name text-center">#}
                {#                        00:00:00#}
                {#                    </td>#}
                {#                    <td>#}
                {#                        {% lorem %}#}
                {#                    </td>#}
                {#                </tr>#}
                {#                <tr>#}
                {#                    <td class="p-name text-center">#}
                {#                        00:00:00#}
                {#                    </td>#}
                {#                    <td>#}
                {#                        {% lorem %}#}
                {#                    </td>#}
                {#                </tr>#}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- ADD TASK MODAL -->
<div class="modal" id="addTaskModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">Add Task</h5>
                <button class="close" id="close-btn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-dark">
                <form>
                    <div class="input-group">
                                <textarea name="completed-task" class="form-control"
                                          placeholder="Enter completed tasks here..."></textarea>
                    </div>
                    <button class="btn btn-success my-2" id="submit-btn"><i class="fa fa-check"></i> Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" id="modalClose" data-dismiss="modal">Close and continue</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'main_app/js/jquery.min.js' %}"></script>
<script src="{% static 'main_app/js/popper.min.js' %}"></script>
<script src="{% static 'main_app/js/bootstrap.min.js' %}"></script>

<script>


    function getTime() {
        const second = parseInt($('#second').text());
        const minute = parseInt($('#minute').text());
        const hour = parseInt($('#hour').text());

        return hour * 3600 + minute * 60 + second;
    }

    function zeroPad(nr, base) {
        const len = (String(base).length - String(nr).length) + 1;
        return len > 0 ? new Array(len).join('0') + nr : nr;
    }

    function moveTimer() {
        let second = parseInt($('#second').text());
        if (second < 59) {
            $('#second').html(zeroPad(second + 1, 10));
        } else {
            $('#second').html(zeroPad(0, 10));
            let minute = parseInt($('#minute').text());
            if (minute < 59) {
                $('#minute').html(zeroPad(minute + 1, 10));
            } else {
                $('#minute').html(zeroPad(0, 10));

                let hour = parseInt($('#hour').text());
                $('#hour').html(zeroPad(hour + 1, 10));
            }
        }

        setCookie('second', parseInt($('#second').text()), 3);
        setCookie('minute', parseInt($('#minute').text()), 3);
        setCookie('hour', parseInt($('#hour').text()), 3);

    }

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        document.cookie = name + '=; Max-Age=-99999999;';
    }

    $('#start-btn').on('click', () => {
        $('#before-play').addClass('d-none');
        $('#after-play').removeClass('d-none');

        timerInterval = setInterval(moveTimer, 1000);
    });

    $('#pause-btn').on('click', () => {
        $('#pause-btn').addClass('d-none');
        $('#resume-btn').removeClass('d-none');

        clearInterval(timerInterval);
    });

    $('#resume-btn').on('click', () => {
        $('#resume-btn').addClass('d-none');
        $('#pause-btn').removeClass('d-none');

        timerInterval = setInterval(moveTimer, 1000);
    });

    $('#end-btn').on('click', () => {
        if (typeof timerInterval !== 'undefined') {
            clearInterval(timerInterval);
        }
        $('#addTaskModal').modal({
            show: true,
            closeOnEscape: true,
        });
    });

    $('#submit-btn').on('click', () => {
        var name = $('textarea').val();
        var time = getTime()
        $.post('create-task/', {name: name, time: time});
        eraseCookie('second')
        eraseCookie('minute')
        eraseCookie('hour')
    });

    $('#close-btn').on('click', () => {
        $('#pause-btn').addClass('d-none');
        $('#resume-btn').removeClass('d-none');
    });

    $('#modalClose').on('click', () => {
        timerInterval = setInterval(moveTimer, 1000);
        $('#pause-btn').removeClass('d-none');
        $('#resume-btn').addClass('d-none');
    });

    var second = getCookie('second')
    if (second != null) {
        $(document).ready(function () {
            $('#second').text(zeroPad(getCookie('second'), 10));
            $('#minute').text(zeroPad(getCookie('minute'), 10));
            $('#hour').text(zeroPad(getCookie('hour'), 10));
            $('#before-play').addClass('d-none');
            $('#after-play').removeClass('d-none');
            $('#pause-btn').addClass('d-none');
            $('#resume-btn').removeClass('d-none');
        });
    }
</script>
</body>
</html>
