<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<h2>Log In</h2>
{% if user.is_authenticated %}
    <p> you are logged in!</p>
{% else %}
    <div id=login>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
    </div>
{% endif %}
</body>
</html>