<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
</head>
<body id=body>
<h2>Sign up</h2>
{% if user.is_authenticated %}
    <p> you are logged in!</p>
{% else %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
    </br>
    <p> Have an account already?</p>
    <form action={% url 'login' %}>
        <input type="submit" value="Login"/>
    </form>
{% endif %}

</body>
</html>




